/* .dashboard_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   height: 100vh; 
  min-height: calc(100vh - 50px);
} */

.dashboard_title_row,
.your_courses_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_text,
.courses_text {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.dashboard_title_row mat-icon {
  padding: 20px;
  background-color: #e5e9f9;
  margin-right: 5px;
  margin-left: 20px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #8ba3f6;
  /* position: relative;
  top: 8px; */
}

.your_courses_row {
  margin-top: 40px;
}

.your_courses_row mat-icon {
  margin-right: 5px;
  margin-left: 20px;
  position: relative;
  top: 8px;
  color: black;
}

.date,
.more_text {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.date {
  color: #babadf;
}

.date_content {
  display: flex;
  align-items: center;
}

.welcome_card {
  margin-top: 40px;
  background-color: #f7e5e9;
  height: 200px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  grid-gap: 50px;
}

.welcome_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_text .text_lg {
  font-size: 27px;
  color: #fc7e89;
  font-weight: 500;
}

.welcome_text .text_sm {
  font-size: 18px;
  margin-top: 20px;
}

.welcome_img img {
  height: 235px;
  margin-top: -30px;
}

.latest_results,
.time_spent {
  background-color: white;
  height: 350px;
  border-radius: 16px;
  margin-top: 40px;
}

.courses {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.course_one {
  background-color: #4d4cac;
  height: 100px;
  width: 350px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.course_two {
  background-color: #9698d6;
  height: 100px;
  width: 350px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.course_three {
  background-color: #ff808b;
  height: 100px;
  width: 350px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.course_icon_one,
.course_icon_two,
.course_icon_three {
  display: inline-block;
  padding: 20px;
  border-radius: 16px;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.course_icon_one {
  background-color: #5a5ab2;
}
.course_icon_two {
  background-color: #a4a6db;
}
.course_icon_three {
  background-color: #ff919b;
}

.course_content_one h5,
.course_content_two h5,
.course_content_three h5 {
  color: #babadf;
  font-weight: 500;
  font-size: 16px;
}
.course_content_one h4,
.course_content_two h4,
.course_content_three h4 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.courses mat-icon {
  color: white;
}
